[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/gpl"]
	path = lib/gpl
	url = https://github.com/AstariaXYZ/astaria-gpl
	branch = main
[submodule "lib/foundry_eip-4626"]
	path = lib/foundry_eip-4626
	url = https://github.com/jaglinux/foundry_eip-4626/
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/assets"]
	path = lib/assets
	url = https://github.com/AstariaXYZ/assets
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
