[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/auction-house"]
	path = lib/auction-house
	url = https://github.com/AstariaXYZ/auction-house
[submodule "lib/foundry_eip-4626"]
	path = lib/foundry_eip-4626
	url = https://github.com/jaglinux/foundry_eip-4626/
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
