[profile.default]
src = 'src'
out = 'out'
solc = '0.8.17'
cache_path = 'cache'
libs = ['lib']
fs_permissions = [{ access = "read-write", path = "./"}]
gas_reports_ignore = ["Strings2", "MockERC721", "MultiRolesAuthority", "TransferProxy"]
remappings = [
    'solmate/=lib/solmate/src/',
    'gpl/=lib/gpl/src/',
    'clones-with-immutable-args/=lib/clones-with-immutable-args/src/',
    'core/=./src/',
    'seaport/=lib/seaport/contracts',
]
# See more config options https://github.com/foundry-rs/foundry/tree/master/config