[profile.default]
src = 'src'
out = 'out'
cache_path = 'cache'
libs = ['lib']
fs_permissions = [{ access = "read-write", path = "./"}]
remappings = [
    'solmate/=lib/solmate/src/',
    'gpl/=lib/gpl/src/',
    'clones-with-immutable-args/=lib/clones-with-immutable-args/src/',
]
# See more config options https://github.com/foundry-rs/foundry/tree/master/config